body {
  background-color: turquoise;
  color: snow;
  font-size: 25px;
}

.main-header {
  color: #be41e8;
  text-align: center;
  margin: 10px auto;
  background-color: white;
  padding: 10px 20px;
  width: 50vw;
  font-family: "Josefin Sans", sans-serif;
}

.post1,
.post3 {
  font-size: 40px;
  margin: 20px auto;
  padding: 5px;
  width: 500px;
  height: 400px;
  text-align: center;
  border-radius: 20px;
}

.post2 {
  font-size: 40px;
  margin: 20px auto;
  padding: 5px;
  width: 500px;
  height: 370px;
  text-align: center;
  border-radius: 20px;
}

.post1 {
  background-image: url(img/skittles.jfif);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-position-y: -15px;
  background-color: white;
}

.post2 {
  background-image: url(img/mikes.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-position-y: 0px;
  background-color: #f8f4f4;
}

.post3 {
  background-image: url(img/jolly.png);
  background-repeat: no-repeat;
  background-size: 350px;
  background-position: center;
  background-position-y: 60px;
  background-color: white;
}

.skittles,
.mikeandike,
.jollyranchers {
  margin-top: -10px;
  font-family: "Cabin", sans-serif;
}

.skittles {
  color: red;
}

.mikeandike {
  color: green;
}

.jollyranchers {
  color: #475fc9;
}

.motto1,
.motto2,
.motto3 {
  color: black;
  font-size: 25px;
}

.motto1 {
  margin-top: 250px;
}

.motto2 {
  margin-top: 170px;
}

.motto3 {
  margin-top: 230px;
}

.link1 {
  font-size: 30px;
}

.link2 {
  font-size: 30px;
  margin-top: 100px;
}

.link3 {
  font-size: 30px;
}
