body {
  background-color: turquoise;
  color: snow;
  font-size: 25px;
}

.main-header {
  color: blue;
  text-align: center;
  margin: 10px auto;
  background-color: white;
  padding: 10px 20px;
  width: 50vw;
}

.post1,
.post2,
.post3 {
  color: white;
  font-size: 40px;
  margin: 20px auto;
  background-color: red;
  padding: 5px;
  width: 200px;
  height: 300px;
  text-align: center;
}

h6 {
  color: black;
  text-align: center;
  font-size: larger;
  background-image: url(img/shaq.jpg);
  background-size: cover;
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
