body {
  background-color: turquoise;
  color: snow;
  font-size: 25px;
}

.main-header {
  color: blue;
  text-align: center;
  margin: 10px auto;
  background-color: white;
  padding: 10px 20px;
  width: 50vw;
}

.post1,
.post2,
.post3 {
  font-size: 40px;
  margin: 20px auto;
  background-color: white;
  padding: 5px;
  width: 500px;
  height: 400px;
  text-align: center;
  border-radius: 20px;
}

.post1 {
  color: red;
  background-image: url(img/skittles.jfif);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-position-y: -10px;
}

.post2 {
  color: green;
  background-image: url(img/mikes.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-position-y: 40px;
}

.post3 {
  color: blue;
  background-image: url(img/jolly.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-position-y: 50px;
}
